.navegacion{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 56px;
}
.navegacion__Atras , .navegacion__Adelante{
    display: flex;
    flex-direction: row;
}