.allArticleLayout{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(5,200px);
    grid-template-areas: 'uno'
                        'dos'
                        'tres'
                        'cuatro'
                        'cinco';
    grid-column-gap: 20px;
    grid-row-gap: 32px;

       
    
    article{
        &:nth-child(1){
            @extend %verificarcaja1;
            grid-area: uno;

        }
        &:nth-child(2){
            @extend %verificarcaja1;
            grid-area: dos;
        }
        &:nth-child(3){
            @extend %verificarcaja1;
            grid-area: tres;
        }
        &:nth-child(4){
            @extend %verificarcaja1;
            grid-area: cuatro;
        }
        &:nth-child(5){
            @extend %verificarcaja1;
            grid-area: cinco;
        }
    }
}