.conteinerLayout{
    max-width: 1366px;
    min-width: 940px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 130px 250px 2627px 869px;
    grid-template-areas: 'nav'
                        'header'
                        'main'
                        'footer';
}
nav{
    grid-area: nav;
    @extend %verificarcaja;
}
header{
    grid-area: header;
    @extend %verificarcaja;
}
main{
    grid-area: main;
    display: flex;
    justify-content: center;
}
footer{
    grid-area: footer;
    @extend %verificarcaja;
}

