
$font-family_1: Arial;
$font-family_2: Helvetica;
$font-family_3: Gilroy;

$font-style_1: normal;

$font-weight_1: bold;
$font-weight_2: normal;

$font-size_1: 14px;
$font-size_2: 16px;
$font-size_3: 20px;
$font-size_4: 22px;
$font-size_5: 36px;
$font-size_6: 18px;
$font-size_7: 44px;
$font-size_8: 28px;
$font-size_9: 26px;



$line-height_0: 18px;
$line-height_1: 23px;
$line-height_2: 24px;
$line-height_3: 26px;
$line-height_4: 32px;
$line-height_5: 46px;
$line-height_6: 28px;
$line-height_7: 74px;
$line-height_8: 30px;
$line-height_9: 28px;




$letter-spacing_1: 0.04em;
$letter-spacing_2: 0.05em;



$color1: #356EAD;
$color2: #1F3F68;
$color3: rgb(0, 0, 0);
$color4: #FFFFFF;
$color5: #316099;
$color6: #5A98D0;

$opacidad_0: 1;
$opacidad_1: 0.4;
$opacidad_2: 0.6;
$opacidad_3: 0.8;