@import "base/reset";
@import "Theme/variables";
@import "theme/formatoLetra";
@import "layout/conteinerLayout";
@import "layout/mainLayout";
@import "layout/popularLayout";
@import "layout/allArticleLayout";
@import "layout/footerLayout";
@import "module/card";
@import "module/menu";
@import "module/encabezado";
@import "module/icono";
@import "module/footer";
@import "module/navegacion";
@import "module/boton";


%verificarcaja{
    border: 2px red solid;
}
%verificarcaja1{
    border: 2px blue solid;
 
}
%verificarcaja2{
    border: 2px black solid;
 
}

