* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #E5E5E5;
}

.formatoLetra1 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.04em;
  color: #1F3F68;
}

.formatoLetra1--mod1 {
  font-size: 14px;
  line-height: 24px;
}

.formatoLetra1--mod2 {
  font-size: 22px;
  line-height: 32px;
}

.formatoLetra1--mod3 {
  font-size: 18px;
  line-height: 28px;
}

.formatoLetra2 {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.04em;
  color: black;
  opacity: 0.6;
}

.formatoLetra2--mod1 {
  font-size: 14px;
  line-height: 24px;
  color: #1F3F68;
  opacity: 0.4;
}

.formatoLetra2--mod2 {
  font-size: 14px;
  line-height: 24px;
}

.formatoLetra3 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.04em;
  color: #356EAD;
  opacity: 0.8;
  margin-bottom: 34px;
}

.formatoLetra3--mod1 {
  text-align: right;
  font-size: 16px;
  line-height: 18px;
  margin-top: 54px;
  margin-bottom: auto;
}

.conteinerLayout {
  max-width: 1366px;
  min-width: 940px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 130px 250px 2627px 869px;
      grid-template-rows: 130px 250px 2627px 869px;
      grid-template-areas: 'nav' 'header' 'main' 'footer';
}

nav {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: nav;
}

header {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: header;
}

main {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: main;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: footer;
}

.mainLayout {
  max-width: 940px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 168px 1044px 1260px;
      grid-template-rows: 168px 1044px 1260px;
      grid-template-areas: 'search' 'popular' 'allarticle';
}

section:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: search;
}

section:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: popular;
  margin-bottom: 58px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

section:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: allarticle;
}

.popularLayout {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 380px 477px;
      grid-template-rows: 380px 477px;
      grid-template-areas: 'uno uno uno' 'dos tres cuatro';
  grid-column-gap: 20px;
  grid-row-gap: 32px;
}

.popularLayout article:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: uno;
}

.popularLayout article:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: dos;
}

.popularLayout article:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: tres;
}

.popularLayout article:nth-child(4) {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: cuatro;
}

.allArticleLayout {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: (200px)[5];
      grid-template-rows: repeat(5, 200px);
      grid-template-areas: 'uno' 'dos' 'tres' 'cuatro' 'cinco';
  grid-column-gap: 20px;
  grid-row-gap: 32px;
}

.allArticleLayout article:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: uno;
}

.allArticleLayout article:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: dos;
}

.allArticleLayout article:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: tres;
}

.allArticleLayout article:nth-child(4) {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: cuatro;
}

.allArticleLayout article:nth-child(5) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: cinco;
}

.card {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 540px;
      grid-template-columns: 1fr 540px;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
      grid-template-areas: 'dos uno';
  grid-column-gap: 20px;
  grid-row-gap: 13px;
}

.card--tipo2 {
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 200px 1fr;
      grid-template-rows: 200px 1fr;
      grid-template-areas: 'uno'  'dos';
}

.card--Tipo3 {
  -ms-grid-columns: 327.24px 1fr;
      grid-template-columns: 327.24px 1fr;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
      grid-template-areas: 'uno dos';
}

.card__img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: uno;
}

.card__img img {
  width: 100%;
  height: 100%;
}

.card__descripcion {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: dos;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card__Parte1 {
  width: 100%;
}

.card__Parte2 {
  width: 100%;
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__icono {
  margin-left: 41.45px;
}

nav, header, footer, section:nth-child(1), section:nth-child(2), section:nth-child(3) {
  border: 2px red solid;
}

.allArticleLayout article:nth-child(1), .allArticleLayout article:nth-child(2), .allArticleLayout article:nth-child(3), .allArticleLayout article:nth-child(4), .allArticleLayout article:nth-child(5), .card__Parte2 {
  border: 2px blue solid;
}

.card__img, .card__descripcion {
  border: 2px black solid;
}
/*# sourceMappingURL=main.css.map */